# Ignore node_modules
node_modules/

# Ignore built files
dist/*.*
build/

# Ignore .env files (should not be committed)
.env

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore package-lock.json (use yarn.lock for Yarn)
package-lock.json

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore Visual Studio Code settings
.vscode/

# Ignore Jest cache
.jest

/coverage
